################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WinMergeExtension/bin
/WinMergeExtension/obj
/WinMergeExtensionInstaller/bin/Release
/WinMergeExtensionInstaller/obj
